/* body {
    background-color:darkblue;
} */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}

body {
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
}

p {
    font-weight: 300;

}

.attribution {
    font-size: 12px;
    text-align: center;
}